/* CSS Declarations */
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Fantasque Sans Mono';
  font-size: 15px;
  margin: 1em 2em 2em 2em;
}

header {
  font-family: 'Libris ADF Std';
  font-style: italic;
  display: flex;
  justify-content: center;
}

header h1 {
  font-size: 80px;
  margin: 0.25em;
  color: #000;
  text-align: center;
  /* border-top: solid 6px black;
  border-bottom: solid 6px black; */
}

.infobar {
  display: flex;
  justify-content: space-between;
  margin: 1em 0 1em 0;
  border-top: solid 4px black;
  border-bottom: solid 4px black;
}

.infobar span {
  font-size: inherit;
  margin: 0.75em 0 0.75em 0;
  padding: 0.25em 0 0.25em 0;
  text-align: center;
  flex-grow: 2;
  border-right: solid 2px black;
}

.infobar span:first-child {
  text-align: left;
  margin-left: 1em;
  flex-grow: 1;
}

.infobar span:last-child {
  text-align: right;
  margin-right: 1em;
  border-right: none;
  flex-grow: 1;
}

.articles-wrapper {
  margin-top: 2em;
  display: flex;
}

.article-wrapper {
  width: 30%;
  margin: 1em 1em 0 0;
  padding: 0.5em;
  display: flex;
  flex-direction: column;

  border: solid black 4px;
}

.button-wrapper {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1;

  margin-right: calc(2em + 6px);
  margin-bottom: calc(2em + 6px);
  background-color: white;
  box-shadow:
    1px 1px blue,
    2px 2px blue,
    3px 3px blue,
    4px 4px blue,
    5px 5px blue,
    6px 6px blue;
}

.button-wrapper button {
  background-color: inherit;
  font-family: inherit;
  color: blue;
  border: solid blue 4px;

  font-size: 15px;
  padding: 1em 1.5em 1em 1.5em;
}
