/* CSS Declarations */
html {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;

  font-family: 'Fira Code';
  font-weight: 400;
  font-size: 15px;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

header {
  margin: 1em 2em 1em 2em;
  text-align: center;
}

header h1 {
  font-size: 60px;
  margin: 0.25em;
  color: #000;
  text-align: center;
  /* border-top: solid 6px black;
  border-bottom: solid 6px black; */
}

.infobar {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-top: solid 4px black;
  border-bottom: solid 4px black;
}

.infobar span {
  font-size: inherit;
  margin: 0.75em 0 0.75em 0;
  padding: 0.25em 0 0.25em 0;
  text-align: center;
  flex-grow: 2;
  border-right: solid 2px black;
}

.infobar span:first-child {
  text-align: left;
  margin-left: 1em;
  flex-grow: 1;
}

.infobar span:last-child {
  text-align: right;
  margin-right: 1em;
  border-right: none;
  flex-grow: 1;
}

#content-target {
  margin: 2em;
  overflow-y: scroll;
}

.articles-wrapper {
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
}

.article {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  white-space: pre-wrap;

  border: solid black 4px;
}

.article > .title {
  font-size: 1.7em;
  font-weight: bold;
}

.article > .authname, .article > .authinfo {
  font-size: 0.8em;
  font-style: italic;
  color: #555;
}

.article > .createdAt {
  font-size: 0.8em;
  color: red;
}

.button-wrapper {
  margin-right: 2em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: row;
}

.ev-button {
  background-color: white;
  font-family: inherit;
  font-size: 15px;
  padding: 1em 1.5em 1em 1.5em;
  margin-left: 1em;
}

.ev-button#ev_write {
  color: blue;
  border: solid blue 4px;
  box-shadow:
    1px 1px blue,
    2px 2px blue,
    3px 3px blue,
    4px 4px blue,
    5px 5px blue,
    6px 6px blue;
}

.ev-button#ev_scan {
  color: cyan;
  border: solid cyan 4px;
  box-shadow:
    1px 1px cyan,
    2px 2px cyan,
    3px 3px cyan,
    4px 4px cyan,
    5px 5px cyan,
    6px 6px cyan;
}

.ev-button#ev_print {
  color: turquoise;
  border: solid turquoise 4px;
  box-shadow:
    1px 1px turquoise,
    2px 2px turquoise,
    3px 3px turquoise,
    4px 4px turquoise,
    5px 5px turquoise,
    6px 6px turquoise;
}

.ev-button#ev_submit {
  color: mediumspringgreen;
  border: solid mediumspringgreen 4px;
  box-shadow:
    1px 1px mediumspringgreen,
    2px 2px mediumspringgreen,
    3px 3px mediumspringgreen,
    4px 4px mediumspringgreen,
    5px 5px mediumspringgreen,
    6px 6px mediumspringgreen;
}

.ev-button#ev_cancel {
  color: crimson;
  border: solid crimson 4px;
  box-shadow:
    1px 1px crimson,
    2px 2px crimson,
    3px 3px crimson,
    4px 4px crimson,
    5px 5px crimson,
    6px 6px crimson;
}

.ev-button#ev_capture {
  color: deeppink;
  border: solid deeppink 4px;
  box-shadow:
    1px 1px deeppink,
    2px 2px deeppink,
    3px 3px deeppink,
    4px 4px deeppink,
    5px 5px deeppink,
    6px 6px deeppink;
}

.ev-button#ev_save {
  color: mediumslateblue;
  border: solid mediumslateblue 4px;
  box-shadow:
    1px 1px mediumslateblue,
    2px 2px mediumslateblue,
    3px 3px mediumslateblue,
    4px 4px mediumslateblue,
    5px 5px mediumslateblue,
    6px 6px mediumslateblue;
}

.editorForm {
  margin: 0 10em;
  display: flex;
  flex-direction: column;
}

.radio-wrapper {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.radioLab {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radioLab input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  padding: 0.5em 1em 0.5em 1em;
  margin-right: 0.5em;
  color: #aaa;
  border: solid 2px #aaa;
}

.radioLab:hover input ~ .checkmark {
  color: black;
  border: solid 2px black;
}

.radioLab:hover input ~ .checkmark {
  color: black;
  border: solid 2px black;
}

.radioLab input:checked ~ .checkmark {
  color: black;
  border: solid 2px black;
}

.radioLab input:checked ~ .checkmark > span {
  border-bottom: solid 2px black;
}

.editorForm > input:not(.validateButton) {
  margin: 0;
  padding: 0.5em 1em 0.5em 1em;
  border: solid 2px #aaa;

  color: black;
  font-family: inherit;
  font-size: inherit;
}

.editorForm > input.title {
  border-bottom: none;
}

.editorForm > input.authname {
  border-bottom: none;
  border-top: none;
}

.editorForm textarea {
  margin: 0;
  padding: 0.5em 1em 0.5em 1em;
  border: solid 2px #aaa;
  overflow: hidden;

  font-family: inherit;
  font-size: inherit;
  resize: none;
}

.scanner-wrapper {
  margin: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

.scanner-wrapper video {
  border: solid 4px black;
}

.scanner-wrapper canvas {
  border: solid 4px deeppink;
}

.canvas-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: baseline;
}

.canvas-wrapper > input {
  margin-top: 2em;
}
