@font-face {
  font-family: 'Libris ADF Std';
  src: url("files/LibrisADFStd-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Libris ADF Std';
  src: url("files/LibrisADFStd-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Libris ADF Std';
  src: url("files/LibrisADFStd-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Libris ADF Std';
  src: url("files/LibrisADFStd-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}
