@font-face {
    font-family: 'Libris ADF Std';
    src: url('LibrisADFStd-BoldItalic.eot');
    src: url('LibrisADFStd-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('LibrisADFStd-BoldItalic.woff2') format('woff2'),
        url('LibrisADFStd-BoldItalic.woff') format('woff'),
        url('LibrisADFStd-BoldItalic.ttf') format('truetype'),
        url('LibrisADFStd-BoldItalic.svg#LibrisADFStd-BoldItalic') format('svg');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Libris ADF Std';
    src: url('LibrisADFStd-Italic.eot');
    src: url('LibrisADFStd-Italic.eot?#iefix') format('embedded-opentype'),
        url('LibrisADFStd-Italic.woff2') format('woff2'),
        url('LibrisADFStd-Italic.woff') format('woff'),
        url('LibrisADFStd-Italic.ttf') format('truetype'),
        url('LibrisADFStd-Italic.svg#LibrisADFStd-Italic') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Libris ADF Std';
    src: url('LibrisADFStd-Bold.eot');
    src: url('LibrisADFStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('LibrisADFStd-Bold.woff2') format('woff2'),
        url('LibrisADFStd-Bold.woff') format('woff'),
        url('LibrisADFStd-Bold.ttf') format('truetype'),
        url('LibrisADFStd-Bold.svg#LibrisADFStd-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Libris ADF Std';
    src: url('LibrisADFStd-Regular.eot');
    src: url('LibrisADFStd-Regular.eot?#iefix') format('embedded-opentype'),
        url('LibrisADFStd-Regular.woff2') format('woff2'),
        url('LibrisADFStd-Regular.woff') format('woff'),
        url('LibrisADFStd-Regular.ttf') format('truetype'),
        url('LibrisADFStd-Regular.svg#LibrisADFStd-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}
